.deftoken-container {
 display: inline-block;
 display: inherit;
}
#eeremfa-token-form .form-item,
#eeremfa-token-form .form-actions {
  display: inline-block;
  padding: 5px;
}
.deftoken-container input {
 font-weight: bold;
}
#block-bbsc-uswds-content .eeremfa-token-form.usa-form {
  max-width: 100%;
}
.eere-row {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.eere-row > div {
  min-width: 45%;
  max-width: 27rem;
}
.eere-row > div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 52%;
}
.grid-row.grid-gap .eere-row > div:nth-child(2) {
  top: 4rem;
}
.theme-name--corolla .eere-row > div:nth-child(2) {
  position: absolute;
  top: 14.8rem;
  left: 52%;
}
.wrapped-button input,
.wrapped-button a.button {
  max-width: 100%;
  white-space: initial;
}
.wrapped-button #edit-submit {
  padding: 0.5rem;
  height: 3.6rem;
  background: #020079;
  margin-bottom: 1rem;
  color: #fff;
  line-height: 1.4rem;
  white-space: break-spaces;
  /* width: initial; */
}
.wrapped-button button:visited, 
.wrapped-button .button:visited
.eere-row a.reset.button:visited,
.eere-row a:visited {
  color: #fff;
  background-color: #020079;
}
.eere-row a:hover{
  text-decoration: none;
}
.eere-row a.login-password:visited {
  color: #3986ca;
  text-decoration:none;
}
.eere-row a.reset.button {
  padding: 0.5rem 0 0 2rem;
  border-radius: 3px 3px 3px 3px;
  height: 3rem;
  background: #020079;
  margin-bottom: 1rem;
  color: #fff;
  white-space: break-spaces;
  width: 523px;
  display: block;
}
.eere-row p {
  margin-top: 2rem;
}
.intro-text {
  min-width: 45%;
  max-width: 27rem;
  margin-bottom: 1rem;
}
.smart-card-image-wrapper {
  display: inline-grid;
  max-width: 100%;
  position: relative;
  top: 1rem;
}
.smart-card-image-wrapper img {
  width: 200px;
  position: relative;
  top: 0.3rem;
  margin-bottom: 2rem;
}
.smart-card-image-wrapper a {
  padding: 2px;
  border-radius: 3px 3px 3px 3px;
  height: 3.3rem;
  background: #020079;
  margin-bottom: 1rem;
  color: #fff;
  white-space: pre-wrap;
  width: 523px;
  display: block;
  text-align: center;
  color: #fff;
}
.usa-section .smart-card-image-wrapper a {
  width: 24em;
  height: 8rem;
  text-decoration: none;
}
.select-container-inline hr {
  border: 0;
}
.eeremfa-login-form h2 {
  position: relative;
  top: 0.8em;
  width: 45%;
}
/***** OneID *******/
.oneid-wrapper {
  width: 46%;
  position: relative;
  left: 55%;
  top: -16.5rem;
}
.terms-of-use-wrapper {
  position: relative;
  top: -14.5rem;
}
.oneid-need-help {
  top: 2.5rem;
  position: relative;
}
a.oneid-link:visited,
a.oneid-link:hover {
  color: #fff;
  text-decoration: none;
}

/* MFA
------------------------------------ */
.eere-row a.reset.button,
.wrapped-button #edit-submit,
.eeremfa-login-form.usa-form .smart-card-image-wrapper a,
.eere-row .smart-card-image-wrapper a {
  width: initial;
  color: #fff;
  text-decoration: none;
}
.eere-row .smart-card-image-wrapper a {
  height: initial;
  font-weight: initial;
}
.eeremfa-login-form .eere-row {
  gap: initial;
}
.eeremfa-login-form .eere-row > div:nth-child(2) {
  margin-top: 0;
  min-width: 25%;
}
.eere-row .wrapped-button input,
.eere-row .wrapped-button button,
.eere-row .wrapped-button a {
    font-weight: bold;
}
.eere-row .wrapped-button #edit-submit {
  font-size: initial;
   font-weight: initial;
}
.eere-row a.reset.button {
  padding: 0.5rem;
  font-weight: initial;
}
form.eeremfa-login-form input.form-text {
  width: 90%;
}
form.eeremfa-login-form .eere-row a.login-password:visited {
  color: #3986ca;
  text-decoration:none;
  color:  var(--alink-color);
}
div.wrapped-button button.button.button--primary.waves-btn {
    border-radius: 3px 3px 3px 3px !important;
    border: 0;
 }
.select-container-inline input,
select-container-inline button {
  margtop: 3rem;
}
@media (width <= 75em) {
  .eeremfa-login-form .eere-row > div:nth-child(2) {
  left: 0;
  margin-top: 0;
  position: relative;
 }
  .grid-row.grid-gap .eere-row > div:nth-child(2) {
   top: -7.5rem;
}
  .theme-name--corolla .eere-row > div:nth-child(2) {
  top: -6rem;
  left: 0;
}
} 
@media (width <= 60em) {
  .eeremfa-login-form .eere-row > div:nth-child(2) {
   margin-top: 8rem;
 }
   .theme-name--corolla .eere-row > div:nth-child(2) {
  top: -6rem;
  left: 0;
}
}
